.ChannelComponent, .ChannelComponent .connectedContainer{
    height: 100%;
}

.traitConnected{
    width: 60%;
    height: 5px;
    background-color: #00000030;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-radius: 5px;
}
.traitNonConnected{
    width: 60%;
    height: 5px;
    background-color: #00000030;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-radius: 5px;
}

@media screen and (max-width: 643px) {
    .traitConnected{
        margin-top: 300px;
    }
    .traitNonConnected{
        margin-top: 30px;
    }
}