.connectedUser{
    height: 40%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.left{
    margin-right: 3%;
}
.left .imgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border-radius: 36px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    overflow: hidden;
    margin-bottom: 30px;

}
.imgContainer img{
    min-height: 300px;
    max-height: 350px;
    min-width: 300px;
}
.infoInboxContainer{
    margin-left: 10%;
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.userInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.userInfo form{
    
    width: fit-content;
    font-size: 18px;
    font-weight: bolder;
    display: flex;
    align-items: center;
}
.userInfo form label{
    padding-right: 5px;
}

.userInfo form input:nth-child(2){
    padding: 0 2%;
    border-radius: 3px;
    outline: none;
    background-color: #f3f3f3;
    border: none;
    height: 30px;
    font-weight: 500;
    font-size: 16px;
    max-width: 185px;
    transition: .2s all ease;
}
.userInfo form input:nth-child(2):focus{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.userInfo form input:nth-child(3){
    margin-left: 5px;
}
.userInfo div div:nth-child(1) form input:nth-child(2){
    max-width: 225px;
    width: 225px;
}
.userInfo button{
    text-decoration: underline;
    color: #004CA5;
    border: none;
    font-size: 16px;
    font-weight: 600;
    background: none;
    cursor: pointer;
    width: fit-content;
    margin-top: 20px;
}

.counter{
    margin-left: 10%;
    font-weight: 700;
    font-size: 18px;
}
.counter p span{
    font-weight: 400;
}