.global404{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.contain404{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contain404 img{
    height: 23vw;
}

.contain404 span{
    font-size: 25vw;
    font-weight: 300;

}

.global404 h1{
 font-size: xx-large;
 text-align: center;
 width: 60%;
}