.findcontent{
    padding: 0 4%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    overflow: hidden;
    margin-top: 70px;
}


@media screen and (max-width: 836px) {
    .findcontent{
        align-items: center;
        padding: 0;
    }
}