.player{
    display: flex;
    justify-content: center;
}
.player div{
    width: 50%;
}
.player img{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    z-index: -1;
}
.player iframe{
    border: none;

    z-index: 3;
    height: clamp(250px, calc(70vw/1.776), 731px);
    width: clamp(414px, 70vw, 1300px);
}

.loading{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

@media screen and (max-width: 1100px) {
    .player{
        width: 100vw;
    }
    .player iframe{
        height: clamp(250px, calc(100vw/1.776), 731px);
        width: clamp(414px, 100vw, 1300px);
    }
}

@media screen and (max-width: 440px){
    .player iframe{
        height: clamp(200px, calc(100vw/1.776), 731px);
        width: clamp(414px, 100vw, 1300px);
    }
}