.VideoContainer{
    margin-top: 65px;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    padding: 1% 2%;
}
.skeletton{
    margin: 10px;
}
.VideoContainer h1{
    height: 0;
    width: 0;
    overflow: hidden;
}